.titulo_inicia_sesion {
    margin-left: 40px;
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
    font-weight: 300;
 
}
.btnregister {
    position: absolute !important;
    right: 30px;
    top: 10px;
    background-color: #10FFCE;
    border-radius:30px;
    font-size:20px;
    padding-left:20px;
    padding-right:20px;
}



.contenedor_principal {
    position: relative;
    display: inline-block;
    margin-left: 50%;
    width: auto;
}
/*TEXTO DE BIENVENIDA*/
.texto-bienvenida {
    display: inline-block;
    margin-top: 150px;
    float: left;
    margin-left: 5%;
}
/*NAVBAR SUPERIOR*/
.navbar {
    height: 50px !important;
    margin-top: 20px;
    border-radius: 30px;
    margin-left: 5%;
    width: 85%;
    background-color: rgb(14,110,206) !important;
    z-index: 1;
    color: white;
}
.registrarse {
    position: absolute !important;
    float: right !important;
    right: 20px;
    top: -5px;
    width: 90px;
    border-radius: 30px;
    padding-top: 0px !important;
    margin-top: 15px;
    height: 30px;
    color: none !important;
}

.registrarse:nth-child(1) {
    background-color: red !important;
    color: black;
}
/*TEXTO DE BIENVENIDA*/
.texto_bienvenidos:nth-child(2) {
    width: auto;
    float: left;
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify;
}

.barra-navegacion {
    border-radius: 13px;
    padding: 5px;
    width: 100px;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 100px;
}
/*CONTENEDOR FORMULARIO*/
.form-container {
    background-color: rgb(99,130,229);
    position: relative;
    right: 0px;
    width: 377px;
    padding-top: 20px;
    height: 470px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: -160px;
    float: right;
    margin-top: 35px;
}

.contenedor_formulario {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor_formulario input {
    width: 100%;
    border: none !important;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 13px;
    height: 40px;
}

.Ingresar {
    width: 30% !important;
    border: none;
    padding: 5px;
    font-weight: 900;
    margin-left: 20px;
}

.form-container {
    position: relative;
}

.contenedor_iconos {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.iconos {
    width: 73px;
    height: 71px;
    padding-right: 10px;
    border-radius: 100%;
    background-color: azure;
}
/*FOOTER IMG*/
footer img {
    width: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}

header img {
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transform: rotate(180deg);
}
@media screen and (max-width: 1700px) {
    .contenedor_principal {
        margin-left:20%;
    }
}
@media screen and (max-width: 1300px) {
    .contenedor_principal {
        margin-left: 10%;
    }

}
@media screen and (max-width: 1200px) {
    .contenedor_principal {
        margin-left: 0;
    }
}
@media screen and (max-width: 900px) {

    .contenedor_principal {
        margin-left: 0;
    }
    .texto_bienvenidos:nth-child(2) {
        width: 50%;
    }

    .form-container {
        width: 200px;
    }
}
