
<link href="~/Content/Chat.css" rel="stylesheet" />
<div>
    <div class="contenedor_de_chats">
        <div class="primer_contenedor">
            <div class="contenedor_perfil">
                <div class="contenedor_imagen" id="contenedor_imagen"></div>
                <!--Nombre-->
                <div id="chats"></div>
                <div class="estado_usuario"></div>
                <br />
                <div class="contenedor_chat_plus">
                    <div class="texto_añadir_chats "> Chats</div><div class="simbolos_perfil">+  :</div>
                </div>
            </div>
            <div class="contenedor_chat_visualizacion">
                <div class="imagen"><img src="https://thumbs.dreamstime.com/b/ilustra%C3%A7%C3%A3o-vetorial-das-m%C3%A3os-de-desenho-animado-segurando-um-nacho-229626059.jpg" alt="Alternate Text" /></div>
                <div class="contenedor_mensaje">
                    <div class="nombre_usuario">nombre usuario</div>
                    <div class="mensaje_previsualizacion">mensajepequeño</div>
                </div>
            </div>
        </div>


        <div class="contenedor_dos">
            <div class="nombre_usuario_comprador">nombre usuario comprador</div>
            <div class="mensaje_contenedor_receptor">
                <img src="https://thumbs.dreamstime.com/b/ilustra%C3%A7%C3%A3o-vetorial-das-m%C3%A3os-de-desenho-animado-segurando-um-nacho-229626059.jpg" alt="Alternate Text" />
                <div class="mensaje_receptor">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et tellus eros. Duis congue, felis ac facilisis imperdiet, ex sem rhoncus arcu, sagittis pretium leo dolor eu sapien. Quisque dapibus at nibh ac placerat. Donec quis gravida lorem, vel dictum quam. Nunc eu diam dapibus, euismod neque sed, placerat metus.</div>
            </div>
            <div class="mensaje_contenedor_emisor">
                <div class="mensaje_emisor">lorem   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et tellus eros. Duis congue, felis ac facilisis imperdiet, ex sem rhoncus arcu, sagittis pretium leo dolor eu sapien. Quisque dapibus at nibh ac placerat. Donec quis gravida lorem, vel dictum quam. Nunc eu diam dapibus, euismod neque sed, placerat metus.  </div>
                <img src="https://thumbs.dreamstime.com/b/ilustra%C3%A7%C3%A3o-vetorial-das-m%C3%A3os-de-desenho-animado-segurando-um-nacho-229626059.jpg" alt="Alternate Text" />
            </div>
            <!--FORMULARIO MENSAJE DEL MENSAJE-->
            <form action="/" method="post">
                <textarea></textarea>
                <!-- <input type="file" name="name" value="" />
                <input type="submit" name="name" value="" />-->
            </form>
            <div></div>
        </div>
        <div class="contenedor_tres">
            <div class="contenedor_imagen_tercera_parte" >
                <img class="imagen" src="https://thumbs.dreamstime.com/b/ilustra%C3%A7%C3%A3o-vetorial-das-m%C3%A3os-de-desenho-animado-segurando-um-nacho-229626059.jpg" alt="Alternate Text" />
            </div>

            <div class="contenedor_botones_grandes">
                <div class="archivos">All files 100</div>
                <div class="archivos"></div>
            </div>

            Archivos:

            <div class="archivos_botones">Documentos</div>
            <div class="archivos_botones">Fotos</div>
            <div class="archivos_botones">Videos</div>
            <div class="archivos_botones">Otros</div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script>

    //funcion que permite subir imagenes
    if (localStorage.getItem("imagen") != null) {
        $('#contenedor_imagen').append(`<div><img style=" left:40%;width:180px; height:180px; border-radius:100%;" src="${localStorage.getItem("imagen")}" alt="Alternate Text" /></div>`)
    }
</script>
