<style>
    .contenedor-productos {
        border-radius: 25px;
        margin: 10px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 230px;
        min-height: 70vh;
    }
</style>
<link href="~/Content/Site.css" rel="stylesheet"/>
<h6 style="margin: 20px">¡MIRA LOS PRODUCTOS QUE DESEAS!</h6>
<div style="margin:20px">
    <form class="d-flex position-relative">
        <!--<img class="position-absolute icon_buscar" src="~/img/001-home.png" width="15" height="15" />-->
        <input id="buscar" class="form-control me-2" type="search" placeholder=" Search" aria-label="Search" />
    </form>
</div>
<div class="container">
    <div id="lista-productos" class="row row-cols-2" style="overflow: scroll; max-height: 75vh">
        <div class="col contenedor-productos" style="background-color: #e7e9fd">
            <h5>Producto 1</h5>
            Espacio para imagen
            Descripción
            <p><a class="botones-principales" href="">VER MÁS</a></p>
        </div>
    </div>
</div>
<script>
    metodoPago();
    function metodoPago() {
        const url = 'https://localhost:44332/api/producto/publicacion'
        fetch(url).then(response => response.json()).then(data => {
            //let ele = document.getElementById('contenedor_lista')
            //for (let i = 0; i < data.length; i++) {
              //  ele.innerHTML += `<div class="metodo_pago">${data[i].formapago}<input type="hidden"  name="name" value="${data[i].formapago}" id="metodo_pago_${i}" /><input type="hidden"  name="name" value="${data[i].pk_idpago}" id="metodo_pago__${i}" /></div>`
            //}
            console.log(data);

        }).catch(err => console.log(err));

    }
    /*fetch('https://localhost:44332/api/producto/publicacion')
        .then(response => response.json())
            .then(data => {
                data.forEach(element => {
                    /*var desc = data[i].descripcion
                    var precio = data[i].precio
                    var imagen = data[i].archivoimg
                    imagen = imagen.split('data: image')
                    var producto = '';
                    productos += `<div class="col contenedor-productos" style="background-color: #e7e9fd">
                                    
                                    Espacio para imagen
                                    Descripción
                                    <p><a class="botones-principales" href="">VER MÁS</a></p>
                                  </div>`;
                    console.log(data[i]);
                })
            })*/
</script>