<style>
    .contenedor-productos {
        border-radius: 25px;
        margin: 10px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 230px;
        min-height: 70vh;
    }
</style>
<link href="~/Content/Site.css" rel="stylesheet"/>
<link href="~/Content/Productos.css" rel="stylesheet" />
<h6 style="margin: 20px">¡MIRA LOS PRODUCTOS QUE DESEAS!</h6>
<div style="margin:20px">
    <form class="d-flex position-relative">
        <!--<img class="position-absolute icon_buscar" src="~/img/001-home.png" width="15" height="15" />-->
        <input id="buscar" class="form-control me-2" type="search" placeholder=" Search" aria-label="Search" />
    </form>
</div>
<div class="container">
    <div id="lista-productos" class="row row-cols-2" style="overflow: scroll; max-height: 75vh"></div>
</div>
<script>
    metodoPago();
    function metodoPago() {
        const url = 'https://localhost:44332/api/producto/publicacion'
        fetch(url).then(response => response.json()).then(data => {
            for (let i = 0; i < data.length; i++) {
                var desc = data[i].descripcion
                var precio = data[i].precio
                var imagen = data[i].archivoimg
                imagen = imagen.split('data: image')
                var productos = '';
                productos += `<div class="col contenedor-productos" style="background-color: #e7e9fd">
                            <div class="imagen_producto"><img src="${imagen}" alt="Alternate Text" width="90%"/></div>
                            <div class="descripcion">${desc}</div>
                            <div class="precio">precio:${precio}$</div>
                            <div class="ver_mas">Ver Mas</div>
                            </div>`;
                console.log(data[i]);
                $('#lista-productos').append(productos);
            }
            console.log(data);
        }).catch(err => console.log(err));
    }
</script>