
@{
    ViewBag.Title = "InfoUsuarios";
}


<link href="~/Content/Login.css" rel="stylesheet" />

<header>
    <h2>¡Cada vez estas más cerca de contribuir a una revolución digital!</h2>
    <h4>¡Indícanos algunos datos importantes sobre ti!</h4>
    <img src="~/img/Trazado -1.png" />
    <img src="~/img/Trazado -2.png" />
</header>
<body>
    <div>
        <input type="text" placeholder="Ingresa tus nombres" class="form-control" />
        <br />
        <input type="text" placeholder="Ingresa tus Apellidos" class="form-control" />
        <br />
        <label>Tipo de identificación</label>
        <select>
            <option value="CC">CC</option>
            <option value="TI">TI</option>
            <option value="PA">PA</option>
        </select>
        <input type="text" placeholder="Numero de identificación" class="form-control"/>
        <br />
        <input type="text" placeholder="Telefono" class="form-control" />
        <br />
        <input type="text" placeholder="Direccion" class="form-control" />
        <br />
        <input type="text" placeholder="Ciudad" class="form-control" />
    </div>
    <div>
        <div class="contenedor_principal">
            <div class="texto_bienvenidos">

            </div>
            
            <div class="form-contenedor col-lg-12">
                <div class="titulo_inicia_sesion">
                    Sube tu foto de perfil
                </div>
                <div class="contenedor_iconos">
                    <div class="iconos"></div>
                    
                </div>
                <br />
                <form class="contenedor_formulario">
                     <input type="submit" value="Guardar Información" class="Guardar botones-principales" required>
                </form>

            </div>

        </div>
       


    </div>



</body>
