
<link href="~/Content/Productos.css" rel="stylesheet" />
<h2>¡MIRA LOS PRODUCTOS QUE DESEAS!</h2>
<input class="buscador" placeholder="BUSCAR"  type="text" name="name" value="" />

<div class="contenedor_productos">
    <div class="contenedor_producto">
        <div class="nombre">El nombre</div>
        <div class="imagen_producto"><img src="https://thumbs.dreamstime.com/b/ilustra%C3%A7%C3%A3o-vetorial-das-m%C3%A3os-de-desenho-animado-segurando-um-nacho-229626059.jpg" alt="Alternate Text" /></div>
        <div class="descripcion">Aquí esta la descripción de un producto cualquiera</div>
        <div class="precio">precio:200$</div>
        <div class="ver_mas">Ver Mas</div>
    </div>
    

</div>


