<link href="~/Content/Publicar.css" rel="stylesheet" />
<h2>¡PUBLICA TU PRODUCTO!</h2>

<div class="contenedor_principal">
    <div class="contenedor_imagenes_descritpcion">
        <div class="contenedor_imagenes" id="contenedor_imagen">
        </div>
        <form action="/" method="post">
            <input type="file" name="name" value="" id="imagen" />
            <input type="submit" class="btn btn-success" name="name" value="Guardar Imagen" />
        </form>

        <div>Descripción del producto:</div>
        <div class="contenedor_textarea">
            <textarea id="textarea"></textarea>
        </div>
    </div>
    <nav class="contenedor_formulario">
        <form action="/" method="post">
            <select class="dato" name="CATEGORÍA" id="categoria">
                <option>Hogar</option>
                <option>Vehiculos</option>
                <option>Tecnologia</option>
                <option>Calzado</option>
                <option>Otros</option>
            </select>
            <input type="text" placeholder="UBICACIÓN:" name="name" value="" class="dato" id="ubicacion" />
            <input type="number" placeholder="PRECIO:" name="name" value="" class="dato" id="precio" />
            <div class="dato dato_metodo_pago">MÉTODO DE PAGO</div>
            <nav class="contenedor_lista">
                <div class="metodo_pago">nequi <input type="hidden" name="name" value="nequi" id="metodo_pago_0" /></div>
                <div class="metodo_pago">Daviplata<input type="hidden" name="name" value="Daviplata" id="metodo_pago_1" /></div>
                <div class="metodo_pago">intercambio<input type="hidden" name="name" value="intercambio" id="metodo_pago_2" /></div>
            </nav>
            <input type="text" placeholder="Metodo de pago" name="name" value="" class="dato" id="metodopago1" />
            <input type="text" placeholder="Metodo de pago" name="name" value="" class="dato" id="metodopago2" />
            <input type="button" name="name" value="PUBLICAR" class="publicar" id="publicar" />
        </form>
</div>

<script>


    
    
    


</script>