<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/Publicar.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
<h2>¡PUBLICA TU PRODUCTO!</h2>

<div class="contenedor_principal">
    <div class="contenedor_imagenes_descritpcion">
        <div class="contenedor_imagenes" id="contenedor_imagen">
        </div>

            <input type="file" name="name" value="" id="imagen" />
            <div class="vista_agregar btn btn-light">+</div>
        <div>Descripción del producto:</div>
        <div class="contenedor_textarea">
            <textarea id="textarea"></textarea>
        </div>
    </div>
    <nav class="contenedor_formulario">
        <form action="/" method="post">
            <select class="dato" name="CATEGORÍA" id="categoria">
            </select>
            <input type="text" name="name" value="UBICACIÓN:" class="dato" id="ubicacion" />
            <input type="number" placeholder="PRECIO:" name="name" value="" class="dato" id="precio" />
            <div class="dato dato_metodo_pago" id="dato_metodo_pago">MÉTODO DE PAGO</div>
            <nav class="contenedor_lista" id="contenedor_lista">
            </nav>
            <input type="hidden" id="metodopago1" name="name" value="" />
            <input type="hidden" id="metodopago2" name="name" value="" />

            <input type="button" name="name" value="PUBLICAR" class="publicar" id="publicar" />
        </form>
    </nav>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    //variable que contiene las imágenes
    var imagenes = '';
    var nombreImagen = ''
    //variable que contiene la fecha
    var fecha = '';
   
    categoria();
    metodoPago();
    //contador para asignar el valor en el input
    var contador = 0;
    //variable donde se ubican las categorías del producto
    $(document).on('click', '.metodo_pago', function (e) {
        let metodo_pago1 = 0, metodo_pago2 = 0;
    
        //obtenemos a qué elemento le dieron clic
        elemento = $(".metodo_pago").index(this);

        //metodo de pago 1 input hidden
        var mp1 = document.getElementById(`metodopago1`);
        //metodo de pago 2 input hidden
        var mp2 = document.getElementById(`metodopago2`);
        if (mp1.value == '') {
            contador = 0;
        }
       
        if (contador == 0 || mp1.value == '') {
            //asignamos el método de pago a la variable
            mp1.value = $(`#metodo_pago_${elemento}`).val();
            //limpiamos vista e imprimimos
            $('#dato_metodo_pago').empty();
            $('#dato_metodo_pago').append('MÉTODO DE PAGO ' + mp1.value + ' ' );
        }
        //aqui se limpia la variable si dan clic en el método de pago
        else if (contador > 1 && mp1.value == $(`#metodo_pago_${elemento}`).val() ) {
            mp1.value = '';
            $('#dato_metodo_pago').empty();
            $('#dato_metodo_pago').append('MÉTODO DE PAGO ' + mp1.value + ' ' );
        }
        //si seleccionan un segundo método de pago
        else if (contador > 2 && mp1.value != $(`#metodo_pago_${elemento}`).val()   ) {
            alert('¡Ya se han seleccionado los métodos de pago permitidos! ¡Si se selecciona un método de pago ya establecido este se eliminará!');
        }
        
        contador++;

    });

    function categoria()
    {
        const url = 'https://localhost:44332/api/categoriaProducto/categorias'
        fetch(url).then(response => response.json()).then(data => {
            let ele = document.getElementById('categoria')
            for (let i = 0; i < data.length; i++) {
                ele.innerHTML += `<option>${data[i].categoria}</option>`
            }
            console.log(data);

        }).catch(err => console.log(err));
        
            }
           
    function metodoPago()
    {
        const url = 'https://localhost:44332/api/obtenerFormaPago/formaPago'
        fetch(url).then(response => response.json()).then(data => {
            let ele = document.getElementById('contenedor_lista')
            for (let i = 0; i < data.length; i++) {
                ele.innerHTML += `<div class="metodo_pago">${data[i].formapago}<input type="hidden"  name="name" value="${data[i].formapago}" id="metodo_pago_${i}" /></div>`
            }
            console.log(data);

        }).catch(err => console.log(err));

    }
 
    //obtenemos la fecha actual
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    today = dd + '-' + mm + '-' + yyyy ;
    fecha = today + '::10:50';
    console.log(fecha)
        
    //funcion que permite subir imagenes
    $('#imagen').on("change", function () {
        var imagen = $(this)[0].files[0];
        console.log(imagen.name);
        nombreImagen = imagen.name;
        var fileReader = new FileReader();
        fileReader.readAsDataURL(imagen);
        fileReader.onload = function () {
            $('#contenedor_imagen').append(`<div><img src="${fileReader.result}" alt="Alternate Text" /></div>`)
            //la variable   fileReader.result   es la que se sube a la base de datos es una cadena muy larga
            console.log(fileReader.result);
            imagenes = imagenes + fileReader.result;
        }

    });
    //obtenemos todos los valores para enviarlos al microservicio o controlador
    $('#publicar').click(function () {
        const idUsuario = 5;//localStorage.getItem('id');
        const idProducto = 'prueba';//document.querySelector('#categoria').value;
        const formaPago = 'prueba';//document.querySelector('#metodopago1').value;
        const descripcionHTML = 'hola';//document.querySelector('#textarea').value;
        const precioHTML = 123;//document.querySelector('#precio').value;
        const fechaHTML = '10:50:00-05:00'//fecha; // falta la fecha
        const img = 'prueba';//imagenes; // no esta la variable img
        const dataIMG = 'prueba';//nombreImagen; // no esta la data de la img

        const datos = {
            fk_idusuario: idUsuario,
            fk_idcatproducto: idProducto,
            fk_idpago: formaPago,
            descripcion: descripcionHTML,
            precio: precioHTML,
            fecha: fechaHTML,
            nombreimg: img,
            archivoimg: dataIMG
        }
        
        console.log(JSON.stringify(datos))
        
        const URL = 'https://localhost:44332/api/producto/publicar'

        fetch(URL, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json; charset=utf-8', Accept: '*/*'
            },
            body: JSON.stringify(datos) // body data type must match "Content-Type" header
        })
       
    });
    
</script>