<link href="~/Content/Publicar.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<h2>¡PUBLICA TU PRODUCTO!</h2>

<div class="contenedor_principal">
    <div class="contenedor_imagenes_descritpcion">
        <div class="contenedor_imagenes" id="contenedor_imagen">
        </div>

            <input type="file" name="name" value="" id="imagen" />
            <div class="vista_agregar btn btn-light">+</div>
        <div>Descripción del producto:</div>
        <div class="contenedor_textarea">
            <textarea id="textarea"></textarea>
        </div>
    </div>
    <nav class="contenedor_formulario">
        <form action="/" method="post">
            <select class="dato" name="CATEGORÍA" id="categoria">
                <option>Categoría</option>
            </select>
            <input type="text" name="name" value="UBICACIÓN:" class="dato" id="ubicacion" />
            <input type="number" placeholder="PRECIO:" name="name" value="" class="dato" id="precio" />
            <div class="dato dato_metodo_pago" id="dato_metodo_pago">MÉTODO DE PAGO</div>
            <nav class="contenedor_lista" id="contenedor_lista">
            </nav>
            <input type="hidden" id="metodopago1" name="name" value="" />
            <input type="hidden" id="metodopago2" name="name" value="" />

            <input type="button" name="name" value="PUBLICAR" class="publicar" id="publicar" />
        </form>
</div>

<script>


    
 

    const url = 'https://localhost:44332/api/obtenerFormaPago/formaPago'
    fetch(url).then(response => response.json()).then(data => {
        let ele = document.getElementById('catApi')
        for (let i = 0; i < data.length; i++) {
            ele.innerHTML += `<p>${data[i].pk_idpago}</p> <p>${data[i].formapago}</p>`
        }
        console.log( data )

    }).catch(err => console.log(err))

    function metodoPago()
    {
        const url = 'https://localhost:44332/api/obtenerFormaPago/formaPago'
        fetch(url).then(response => response.json()).then(data => {
            let ele = document.getElementById('contenedor_lista')
            for (let i = 0; i < data.length; i++) {
                ele.innerHTML += `<div class="metodo_pago">${data[i].formapago}<input type="hidden"  ame="name" value="nequi" id="metodo_pago_${i}" /></div>`
            }
            console.log(data);

        }).catch(err => console.log(err));

    }
    //funcion que permite subir imagenes
    $('#imagen').on("change", function () {
        var imagen = $(this)[0].files[0];
        console.log(imagen.name);
        var fileReader = new FileReader();
        fileReader.readAsDataURL(imagen);
        fileReader.onload = function () {
            $('#contenedor_imagen').append(`<div><img src="${fileReader.result}" alt="Alternate Text" /></div>`)
            //la variable   fileReader.result   es la que se sube a la base de datos es una cadena muy larga
            console.log(fileReader.result);
        }

    });
    //obtenemos todos los valores para enviarlos al microservicio o controlador
    $('#publicar').click(function () {
        console.log('textarea ' + $('#textarea').val());
        console.log('categoria ' + $('#categoria').val());
        console.log('ubicacacion ' + $('#ubicacion').val());
        console.log('precio ' + $('#precio').val());
        console.log('metodopago1 ' + $('#metodopago1').val());
        console.log('metodopago2 ' + $('#metodopago2').val());
    }
    );


</script>