@{
    ViewBag.Title = "Registrer";
    Layout = "~/Views/Shared/_LayaoutLoginRegistrer.cshtml";
}


<link href="~/Content/Register.css" rel="stylesheet" />

<header>
    <img src="~/img/Trazado -1.png" />
    <img src="~/img/Trazado -2.png" />
</header>

<div class="contenedor_principal">

    <div class="form-container">
        <div class="titulo_inicia_sesion">
            Registrate
        </div>
        <form method="get" class=" contenedor_formulario">
            <input type="email" placeholder="nombre" name="" class="emailReg" required>
            <input type="password" placeholder="clave" class="pass" required>
            <input type="password" placeholder="Confirmar clave" class="passConf" required>
            <input type="button" value="Crear cuenta" class="Registrar botones-principales">
        </form>
    </div>
</div>
<div class="container" id="alerta"></div>
<footer>
    <img src="~/img/Trazado -1.png" />
    <img src="~/img/Trazado -2.png" />
</footer>
<script src="~/Scripts/ValidacionRegistrerUsuario.js"></script>